<div class="navbar">
    <h2>Todo Application</h2>
    <div class="info">
        <div id="welcome"><img src="/uploads/<%= user %>" alt="User Image" /></div>
        <button id="logout" type="button">Logout</button>
    </div>
</div>