<div class="container">

    <div class="create">
        <form>
            <label for="todo">Enter the task to insert in todo</label>
            <input type="text" id="todo" value="" >
        </form>
    </div>

    <div class="todoContainer" id="todoContainer">
      <h2 style="text-align: center;">Todo List</h2>
      <div class="display" id="display">

      </div>
    </div>
</div>